<div class="main-post-container" >
  <h2>Post anything you want! You will be safe from outsiders >:)</h2>

  <div class="post-container">
    <% if @posts.empty? %>
        <div class="no-posts">There are no posts :(</div>
    <% else %>
        <div class="post-organizer">
            <% @posts.each do |post| %>
                <div class="post-card">
                    <p class="post-title"> <%= post.title %> </p>
                    <p class="post-body"> <%= post.body %> </p>
                    <% if user_signed_in? %>
                        <p class="post-creator"> <%= post.user.name %> </p>
                    <% else %>
                        <p class="post-creator"> Anonymous </p>
                    <% end %>
                </div>
            <% end %>
        </div>
    <% end %>
  </div>
</div>
