.main-post-container {
    padding: 0 3vw;
}

.post-container {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    justify-items: center;
}

.post-organizer {
    grid-column: 2 / 3;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2vh 2vw;
}

.no-posts {
    grid-column: 2 / 3;
    width: 75%;
    height: 10vh;
    background-color: rgb(191, 187, 187);
    border-radius: 10px;
    color: white;
    font-size: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-card {
    padding: 2vh 2vw;
    border: 1px solid black;
    border-radius: 10px;
    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
    row-gap: 2vh;
    font-size: 1rem;
}

.post-card p {
    margin: 0;
    padding: 0;
}

.post-title {
    font-weight: bold;
}

.post-creator {
    justify-self: end;
    font-style: italic;
}